@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

:root {
  --uSizing: 3px;
  --almost-black: rgb(19, 19, 19);
  --non-number-background: rgb(151, 151, 151);
  --hover-background: rgb(93, 93, 93);
  --xs-font: 1.1rem;
  --sm-font: 1.3rem;
  --md-font: 1.5rem;
  --lg-font: 1.7rem;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  background: rgba(0, 217, 255, 0.521);
  margin: 0;
  padding: 0;
}

.op-container {
  display: grid;
  border-radius: var(--uSizing);
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
  -webkit-box-shadow: 3px 3px 20px rgb(131, 146, 156);
  box-shadow: 3px 3px 20px rgb(131, 146, 156);
  -ms-flex-line-pack: center;
  align-content: center;
  grid-template-columns: repeat(4, 110px);
  -webkit-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-rows: repeat(8, 65px);
  left: 50%;
  top: 50%;
  width: 500px;
  height: 620px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  -webkit-box-shadow: 2px var(--uSizing) var(--uSizing) var(--hover-background);
  box-shadow: 2px var(--uSizing) var(--uSizing) var(--hover-background);
  border-radius: var(--uSizing);
  outline: none;
  border: none;
}

.delete,
.all-clear,
.back {
  background: var(--non-number-background);
  color: white;
  font-size: var(--sm-font);
}

[data-num] {
  color: var(--almost-black);
  font-weight: 700;
  font-size: var(--lg-font);
}

button[data-num]:hover {
  background: rgb(23, 26, 201);
  color: white;
}

.operation {
  background: var(--non-number-background);
  color: white;
  font-size: var(--md-font);
}
.enter {
  font-size: var(--md-font);
}

button.delete:hover,
button.all-clear:hover,
button.back:hover,
button.operation:hover {
  background: var(--hover-background);
  color: white;
}

button.enter {
  background: rgb(194, 3, 3);
  color: white;
}

button.enter:hover {
  background: rgb(133, 0, 0);
}

.op {
  display: grid;
  background: var(--almost-black);
  -webkit-box-shadow: 2px var(--uSizing) var(--uSizing) var(--hover-background);
  box-shadow: 2px var(--uSizing) var(--uSizing) var(--hover-background);
  border-radius: var(--uSizing);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  grid-column: span 4;
  grid-row: span 2;
  padding: var(--uSizing);
}

.saved {
  color: rgb(208, 255, 0);
  font-size: var(--lg-font);
  min-height: 35px;
  margin-right: var(--uSizing);
  grid-column: span 4;
  opacity: 0.9;
  overflow: auto;
}

.current {
  background: white;
  -webkit-box-shadow: 2px var(--uSizing) var(--uSizing) inset
    var(--hover-background);
  box-shadow: 2px var(--uSizing) var(--uSizing) inset var(--hover-background);
  color: rgb(0, 0, 0);
  border-radius: var(--uSizing);
  font-weight: 800;
  letter-spacing: 2px;
  min-height: 70px;
  padding: 0 10px;
  margin: 0 var(--uSizing);
  grid-column: span 4;
  overflow-x: auto;
}

.zero {
  grid-column: span 2;
}

.all-clear,
.delete,
.back {
  grid-column: span 1;
}

.enter {
  grid-column: span 4;
}

@media screen and (max-width: 480px) {
  .op-container {
    width: 100vw;
    height: 90vh;
    grid-template-columns: 2fr 2fr 2fr 1.5fr;
    -webkit-column-gap: 0;
    column-gap: 0;
    row-gap: 0;
    grid-template-rows: repeat(8, 1fr);
  }

  .op {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .current {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 50px;
  }

  .saved {
    margin-right: 15px;
    min-height: 30px;
  }

  button {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .delete,
  .all-clear,
  .back {
    font-size: var(--xs-font);
  }

  .enter,
  .operation {
    font-size: var(--sm-font);
  }

  [data-num] {
    font-size: var(--md-font);
  }
}

.clicked {
  background: var(--almost-black);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
  font-size: 0.75rem;
}
