@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  transition: background 0.4s ease;
}

body {
  background: rgb(183, 255, 0);
}

.button-container {
  display: grid;
  position: absolute;
  justify-content: center;
  background: rgb(205, 226, 221);
  box-shadow: 1px 1px 10px 0px rgb(131, 146, 156);
  align-content: center;
  grid-template-columns: repeat(4, 110px);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-rows: repeat(8, 65px);
  left: 50%;
  top: 50%;
  width: 465px;
  height: 565px;
  transform: translate(-50%, -50%);
}

button {
  background: lightgray;
  outline: none;
  font-size: 2rem;
  border: none;
}

/* button:hover {
  box-shadow: 1px 1px 10px 3px rgb(200, 200, 200);
} */

button[data-num]:hover {
  background: rgb(23, 26, 201);
  color: white;
}

button.operation:hover,
button.clear:hover,
button.all-clear:hover {
  background: darkgray;
  color: white;
}

button.enter:hover {
  background: rgb(194, 3, 3);
  color: white;
}

.op {
  display: grid;
  background: black;
  justify-content: space-between;
  text-align: right;
  grid-column: span 4;
  grid-row: span 2;
  padding: 5px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.saved {
  color: rgb(56, 255, 56);
  font-size: 1.8rem;
  min-height: 35px;
  margin: 5px 10px 0;
  grid-column: span 4;
  opacity: 0.9;
  overflow: auto;
}

.current {
  font-size: 3.1rem;
  align-self: center;
  color: white;
  margin: 5px 10px;
  grid-column: span 4;
}

.all-clear,
.clear,
.zero {
  grid-column: span 2;
}

.enter {
  grid-column: span 4;
}
