*,
::before,
::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s ease;
}

body {
  background: lightcyan;
}

.button-container {
  display: grid;
  justify-content: center;
  box-shadow: 1px 1px 10px 3px rgb(204, 204, 204);
  align-content: center;
  grid-template-columns: repeat(4, 120px);
  column-gap: 5px;
  row-gap: 5px;
  grid-template-rows: repeat(8, 75px);
  height: 100%;
  min-height: 100vh;
}

button {
  background: lightgray;
  outline: none;
  font-size: 1.8rem;
  border: none;
}

button:hover {
  box-shadow: 1px 1px 10px 3px rgb(204, 204, 204);
}

button[data-num]:hover {
  background: rgb(23, 26, 201);
  color: white;
}

button.operation:hover,
button.clear:hover,
button.all-clear:hover {
  background: darkgray;
  color: white;
}

button.enter:hover {
  background: rgb(194, 3, 3);
  color: white;
}

.op {
  display: grid;
  background: black;
  justify-content: space-between;
  text-align: right;
  min-height: 155px;
  grid-column: span 4;
  grid-row: span 2;
  padding: 5px;
}

.saved {
  color: rgb(56, 255, 56);
  font-size: 1.5rem;
  margin: 10px;
  grid-column: span 4;
  opacity: 0.9;
}

.current {
  font-size: 2.5rem;
  align-self: center;
  color: white;
  margin: 15px;
  grid-column: span 4;
}

.all-clear,
.clear,
.zero {
  grid-column: span 2;
}

.enter {
  grid-column: span 4;
}
